/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of CSS Reset*/

@font-face {
    font-family: 'Chunkfive';
    src: url('assets/ChunkFive/Chunkfive.otf');
    font-weight: normal;
    font-style: normal;
}

body {
  font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Chunkfive';
}

p {
	font-family: 'HelveticaNeueLTPro-UltLt', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;, sans-serif;
}

header {
	position: fixed;
	width: 100%;
	z-index: 1;
}

header .logo {
	display: flex;
	justify-content: center;
}

header .logo .dark-grey {
	width: 20%;
	background-color: #404041;
	order: 1;
	flex-grow: 1;
}

header .logo img {
  width: 60%;
	display: block;
	order: 2;
	flex-grow: 2;
}

header .logo .deep-yellow {
	width: 20%;
	background-color: #ffd658;
	order: 3;
	flex-grow: 1;
}


header nav ul {
	display: flex;
	justify-content: center;
  list-style: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#707070+0,33303a+100 */
  background: #707070; /* Old browsers */

background: -moz-linear-gradient(top, #707070 0%, #33303a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #707070 0%,#33303a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #707070 0%,#33303a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#33303a',GradientType=0 ); /* IE6-9 */

padding: 0 3em;
}

header nav ul li {
  display: inline;
  border-bottom: .85em solid #61bbe1;
  margin: 0 3em;
	order: 2;
}

header nav ul li a {
  font-family: 'Chunkfive';
  color: #DBDBDB;
  text-decoration: none;
  font-size: 5em;
}

header nav ul li:first-child {
 border-bottom: #bbd164 .85em solid;
 order: 1;
}

header nav ul li:last-child {
  border-bottom: #ffd658 .85em solid;
	order: 3;
}

div.content {
	display: flex;
	flex-direction: column;
}

section.about {
	display: flex;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-color: #bbd164;
	flex-wrap: wrap;
	/*position: relative;*/
}

section.about .about-content {
	width: 70%;
	margin: 0 auto;
	padding: 0 3em;
	order: 1;
	align-items: center;
}

section.about img {
	width: 30%;
	padding-left: 4em;
}

section.about p {
	font-size: 3em;
	padding: 5em 3em;
	padding-bottom: 3em;
	padding-right: 0em;
	color: #404041;
	display: inline-block;
	width: 50%;
}

figure {
	width: 40%;
	margin: 0 auto;
	order: 2;
}

figure figcaption {
	font-family: 'HelveticaNeueLTPro-UltLt', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #404041
}

section.about .fa-arrow .fa {
	font-size: 3em;
}

.fa {
	display: block;
	font-size: 3em;
	text-align: center;
	color: #404041
}

.slide-wrapper {
	width: 50%;
	margin: 0 auto;
}

.countdown img {
	width: 100%;
	height: auto;
	padding-top: 10em;
}

.countdown h2 {
	text-align: center;
	font-size: 5em;
	color: #DBDBDB;
	width: 100%;
	border: 5px solid #fff;
	border-left: 0;
	border-right: 0;
}

.slide-wrapper a {
	text-decoration: none;
}

.slide-wrapper h2:hover::before {
	content: ' *visit* ';
	font-size: 2rem;
}

.slide-wrapper h2:hover::after {
	content: ' *visit* ';
	font-size: 2rem;
}

.slide-wrapper a:visited {
	color: #DBDBDB;
}

.slide-wrapper p {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
}



.crimerate {
	background-color: red;
}

.contact {
	text-align: center;
	color: #404041;
}

.contact p {
	font-size: 3em;
	padding-bottom: .5em;
}

.contact a {
	text-decoration: underline;
	font-family: 'HelveticaNeueLTPro-UltLt', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	color: #61bbe1;
}
